{% extends "ProyectoWebApp/base.html" %}
{% load static %}
{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/rueda.png'%}" style="width:55%" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper"></span>
            <span class="section-heading-lower">¿En Que Consiste?</span>
          </h2>
          <p class="mb-3"> Consisten en una colección de 17 objetivos globales orientados a la preservación y cuidado del medioambiente,
            el fin de la pobreza y una prosperidad económica a nivel global. Cada uno de estos objetivos tiene fijados indicadores específicos para evaluar su progreso, y se deberán cumplir para el año 2030
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper"></span>
                <span class="section-heading-lower"></span>
              </h2>
              <p class="mb-0">Siguiendo la promesa de no dejar a nadie atrás, los países se han comprometido a acelerar
                el progreso para aquellos más atrasados. Es por esto que los ODS han sido diseñados para traer al mundo
                varios “ceros” que cambien la vida, lo que incluye pobreza cero, hambre cero, SIDA cero y discriminación
                cero contra las mujeres y niñas.

                Todo el mundo es necesario para alcanzar estos objetivos ambiciosos. Se necesita la creatividad, el conocimiento, la tecnología
                y los recursos financieros de toda la sociedad para conseguir los ODS en cada contexto.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}